body {
    background-color:deepskyblue;
    color: black;
    
}

center {
    background-color: rgba(25, 159, 212, 0.425);
}

strong {
    color: black;
}
p {
    color: black;
}

center {
    font-size: 25px;
}

/* header {
    height: 100px;
    border: 7px dashed red;
    background-color: aquamarine;
    background-image: url(https://blog.rocketseat.com.br/content/images/2020/08/favicon-512.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 8%;
    background-origin: content-box;
    background-clip: content-box;

} */

main {
    color: white;
    height: 100px;
    border: 7px dashed red;
    background-color: aquamarine;
    background-image: url(https://blog.rocketseat.com.br/content/images/2020/08/favicon-512.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 8%;
    background-origin: content-box;
    background-clip: content-box;
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
}
    
.box {
    width: 50px;
    height: 50px;
    margin-bottom: 8px;
}

.box1 {
    background-color: red;
}

.box2 {
    background-color: green;
}

.box3 {
    background-color: blue;
}

header {
    background-color: orangered;  
}

aside {
    background-color: rgb(128, 6, 97);   
}

footer {
    background-color: rgb(1, 48, 66);
}

.github {
 display: flex;  
 align-items: flex-start;
}














 